#header {
   padding-top: 10px;
   margin-bottom: 10px;
   color: white;
   background-color: #333333;
}

#header button {
   border: 0px;
   color: black;
   background-color: whitesmoke;
}

#header button:hover {
   background-color: white;
}

#header button.active {
   color: whitesmoke;
   background-color: #33C3F0;
}

#header button.active:hover {
   color: white;
}

.progress {
   color: #33C3F0;
}

.error {
   color: white;
   background-color: #FF6347;
   padding: 6px 10px;
   border-radius: 4px;
   margin-bottom: 1.5rem;
}

button.warning {
   color: white;
   border-color: salmon;
   background-color: salmon;
}

button.warning a {
   color: lightblue;
}

button.warning:hover {
   color: white;
   border-color: tomato;
   background-color: tomato;
}

input:invalid {
   outline: dotted salmon 2px;
}

.clickable {
   cursor: pointer;
}

#news-toggle {
   color: dodgerblue;
   border: 1px solid dodgerblue;
   background-color: white;
   position: fixed;
   border-radius: 50px;
   bottom: 10px; right: 10px;
   height: 50px; width: 50px;
   text-align: center;
   line-height: 50px;
}

#news-toggle:hover {
   color: white;
   cursor: pointer;
   background-color: dodgerblue;
}

#news-container {
   position: fixed;
   top: 0px; bottom: 0px;
   left: 0px; right: 0px;
}

#news-greyout {
   position: fixed;
   top: 0px; bottom: 0px;
   left: 0px; right: 0px;
   background-color: black;
   opacity: 0.5;
}

#news-panel {
   background-color: white;
   border-radius: 5px;
   padding: 5px;
   margin-top:5%;
   margin-bottom:5%;
}
