<!DOCTYPE html>
<html ng-app="baymsApp">
<head>
   <title>BAYMS.Web</title>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
   <meta name="author" content="Kevin Zhang">
   <link rel="icon" href="./favicon.ico">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">
   <link rel="stylesheet" href="./css/bootstrap-dropdowns.css"/>
   <link rel="stylesheet" href="./css/normalize.css"/>
   <link rel="stylesheet" href="./css/skeleton.css"/>
   <link rel="stylesheet" href="./css/app.css"/>
   <script src="./js/jquery.js"></script>
   <script src="./js/jquery-ui.js"></script>
   <script src="./js/angular.js"></script>
   <script src="./js/ng-context-menu.js"></script>
   <script src="./js/app.js"></script>
   <script>
   if (!sessionStorage.getItem('user_name') && !sessionStorage.getItem('google_token'))
   window.location.href = "login.htm";
   </script>
</head>
<body ng-controller="baymsController">

   <!-- Header -->
   <nav id="header">
      <div class="container">
         <div class="row">
            <button ng-show="user_type >= 0" ng-class="{active: tab == 0}" ng-click="tab = 0"><i class="fa fa-pencil"></i> Profile</button>
            <button ng-show="(user_type >= 1 && required.done) || user_type >= 2" ng-class="{active: tab == 1}" ng-click="tab = 1"><i class="fa fa-calendar"></i> Events</button>
            <button ng-show="user_type >= 2" ng-class="{active: tab == 2}" ng-click="tab = 2"><i class="fa fa-users"></i> Members</button>
            <button class="u-pull-right" onclick="sessionStorage.clear();window.location.reload();"><i class="fa fa-sign-out"></i> Log Out</button>
         </div>
      </div>
   </nav>

   <!-- Profile -->
   <div ng-controller="profileController" ng-show="tab == 0" class="container">
      <div class="row">
         <h2><i ng-show="isWorking" class="progress fa fa-circle-o-notch fa-spin"></i> Profile</h2>
         <p ng-show="user_type == 0">
            Hi <b>{{profile.user_name}}!</b> As an applicant, you have limited access to the BAYMS.Web
            portal. Please fill out your profile; once our staff finishes reviewing your application to
            join the Bay Area Youth Music Society, you will be contacted to schedule an audition.
         </p>
         <p ng-show="!required.done && user_type == 1">
            <b>Warning:</b> Although you are a member, you will not be able to access any of the advanced 
            features until you complete the required fields (highlighted in red).
         </p>
         <form ng-submit="updateProfile()">
            <div class="row">
               <div class="six columns">
                  <label for="student_name">Student Name</label>
                  <input required ng-model="profile.student_name" ng-blur="updateProfile()" class="u-full-width" type="text" placeholder="Full Name" id="student_name">
                  <label for="student_phone">Student Phone</label>
                  <input required ng-model="profile.student_phone" ng-blur="updateProfile()" class="u-full-width" type="text" placeholder="(###)-###-####" id="student_phone">
                  <label for="student_email">Student Email</label>
                  <input required ng-model="profile.student_email" ng-blur="updateProfile()" class="u-full-width" type="email" placeholder="you@email.com" id="student_email">
                  <label for="student_email">Student Birthday</label>
                  <input required ng-model="profile.student_birthday" ng-blur="updateProfile()" class="u-full-width" type="text" placeholder="mm/dd/yyyy" id="student_email">
               </div>
               <div class="six columns">
                  <label for="parent_name">Parent Name</label>
                  <input required ng-model="profile.parent_name" ng-blur="updateProfile()" class="u-full-width" type="text" placeholder="Full Name" id="parent_name">
                  <label for="parent_phone">Parent Phone</label>
                  <input required ng-model="profile.parent_phone" ng-blur="updateProfile()" class="u-full-width" type="text" placeholder="(###)-###-####" id="parent_phone">
                  <label for="parent_email">Parent Email</label>
                  <input required ng-model="profile.parent_email" ng-blur="updateProfile()" class="u-full-width" type="email" placeholder="you@email.com" id="parent_email">
                  <label for="parent_phone">Parent Phone (2)</label>
                  <input ng-model="profile.parent_2_phone" ng-blur="updateProfile()" class="u-full-width" type="text" placeholder="(###)-###-####" id="parent_phone">
               </div>
            </div>
            <div class="row">
               <div class="three columns">
                  <label for="home_phone">Home Phone</label>
                  <input required ng-model="profile.home_phone" ng-blur="updateProfile()" class="u-full-width" type="text" placeholder="(###)-###-####" id="home_phone">
               </div>
               <div class="three columns">
                  <label for="home_address">Current School</label>
                  <input ng-model="profile.current_school" ng-blur="updateProfile()" class="u-full-width" type="text" placeholder="Lower/middle/upper school..." id="current_school">
               </div>
               <div class="four columns">
                  <label for="home_address">Home Address</label>
                  <input ng-model="profile.home_address" ng-blur="updateProfile()" class="u-full-width" type="text" placeholder="Street address, city, state, zip code..." id="home_address">
               </div>
               <div ng-show="user_type >= 1" class="two columns">
                  <label for="want_carpool">Carpool Map</label>
                  <label>
                     <input ng-model="profile.want_carpool" ng-true-value="1" ng-false-value="0" type="checkbox" id="want_carpool">
                     <span class="label-body">I'm in!</span>
                  </label>
               </div>
            </div>
            <div class="row">
               <div class="five columns">
                  <label for="instrument_1">Instrument 1</label>
                  <input list="instruments" ng-model="profile.instrument_1" class="u-full-width" type="text" placeholder="Instrument name..." id="instrument_1">
                  <textarea rows="5" style="height:auto;" ng-model="profile.instrument_1_about" ng-blur="updateProfile()" class="u-full-width" placeholder="Experience level, years played..." id="instrument_1_about"></textarea>
               </div>
               <div class="four columns">
                  <label for="instrument_2">Instrument 2</label>
                  <input list="instruments" ng-model="profile.instrument_2" class="u-full-width" type="text" placeholder="Instrument name..." id="instrument_2">
                  <textarea rows="5" style="height:auto;" ng-model="profile.instrument_2_about" ng-blur="updateProfile()" class="u-full-width" placeholder="Experience level, years played..." id="instrument_2_about"></textarea>
               </div>
               <div class="three columns">
                  <label for="instrument_3">Instrument 3</label>
                  <input list="instruments" ng-model="profile.instrument_3" class="u-full-width" type="text" placeholder="Instrument name..." id="instrument_3">
                  <textarea rows="5" style="height:auto;" ng-model="profile.instrument_3_about" ng-blur="updateProfile()" class="u-full-width" placeholder="Experience level, years played..." id="instrument_3_about"></textarea>
               </div>
               <datalist id="instruments">
                  <option value="Cello"/>
                  <option value="Clarinet"/>
                  <option value="Flute"/>
                  <option value="Guitar"/>
                  <option value="Oboe"/>
                  <option value="Piano"/>
                  <option value="Trombone"/>
                  <option value="Trumpet"/>
                  <option value="Violin"/>
                  <option value="Viola"/>
                  <option value="Voice"/>
                  <option value="Saxophone"/>
               </datalist>
            </div>
            <div class="row">
               <div class="column">
                  <label for="performance_experience">Performance Experience</label>
                  <textarea rows="4" style="height:auto;" ng-model="profile.performance_experience" ng-blur="updateProfile()" class="u-full-width" placeholder="Where (and with who) have you performed?" id="performance_experience"></textarea>
               </div>
            </div>
            <div class="row">
               <div class="ten columns">
                  <label for="additional_information">Student Biography</label>
                  <textarea rows="6" style="height:auto;" ng-model="profile.additional_information" ng-blur="updateProfile()" class="u-full-width" placeholder="Anything you want to add?" id="additional_information"></textarea>
               </div>
               <div class="two columns">
                  <label>Interests</label>
                  <label>
                     <input ng-model="profile.ensemble_solo" ng-true-value="1" ng-false-value="0" type="checkbox">
                     <span class="label-body">Solos</span>
                  </label>
                  <label>
                     <input ng-model="profile.ensemble_choir" ng-true-value="1" ng-false-value="0" type="checkbox">
                     <span class="label-body">Choir</span>
                  </label>
                  <label>
                     <input ng-model="profile.ensemble_woodwind" ng-true-value="1" ng-false-value="0" type="checkbox">
                     <span class="label-body">Woodwind</span>
                  </label>
                  <label>
                     <input ng-model="profile.ensemble_orchestra" ng-true-value="1" ng-false-value="0" type="checkbox">
                     <span class="label-body">Orchestra</span>
                  </label>
               </div>
            </div>
            <div class="row">
               <div class="columns">
                  <div ng-show="isError" style="border-radius:4px; background-color:salmon; padding: 10px; 10px; margin-bottom: 1rem;">
                     <i class="fa fa-exclamation-triangle"></i> Something went wrong. Please try again later.
                  </div>
               </div>
            </div>
            <div class="row">
               <i ng-show="isWorking" class="progress pull-left fa fa-circle-o-notch fa-spin fa-2x"></i>
               <input class="button-primary pull-right" type="submit" value="Save">
            </div>
            <div class="row">
               <h5>Additional Options</h5>
               <a ng-show="profile.want_carpool && user_type >= 1" class="button" target="_blank" href="map.htm"><i class="fa fa-map"></i> Carpool Map</a>
               <button ng-show="auth.user_name" onclick="sessionStorage.clear(); window.location.href='password.htm';" style="margin-right:5px;"><i class="fa fa-lock"></i> Change Password</button>
            </div>
         </form>
      </div>
   </div>

   <!-- Events -->
   <div ng-controller="eventsController" ng-show="tab == 1" class="container">
      <div class="row">
         <h2><i ng-show="isWorking" class="progress fa fa-circle-o-notch fa-spin"></i> Events</h2>
      </div>
      <div class="row">
         <div class="columns">
            <div ng-show="isError" style="border-radius:4px; background-color:salmon; padding: 10px; 10px; margin-bottom: 1rem;">
               <i class="fa fa-exclamation-triangle"></i> Something went wrong. Please try again later.
            </div>
         </div>
      </div>
      <div class="row">

         <!-- Events Menu -->
         <div class="three columns">
            <button eid="0" ng-show="user_type >= 2" ng-click="eid = 0" ng-class="{'button-primary': eid == 0}" class="u-full-width">New Event</button>
            <button eid="{{event.event_id}}" ng-repeat="event in events" ng-click="$parent.eid = event.event_id" ng-class="{'button-primary': $parent.eid == {{event.event_id}}}" class="u-full-width">{{event.event_id}}: {{event.event_date}}</button>
         </div>

         <!-- Events Content -->
         <div class="nine columns">
            <!-- Create Event -->
            <div ng-show="eid == 0">
               <form ng-submit="createEvent()">
                  <div class="row">
                     <div class="six columns">
                        <label for="event_date">Event Date</label>
                        <input ng-model="create_event.event_date" class="u-full-width" placeholder="mm/dd/yyyy" type="text" id="event_date">
                     </div>
                     <div class="six columns">
                        <label for="event_time">Event Time</label>
                        <input ng-model="create_event.event_time" class="u-full-width" placeholder="hh:mm PM" type="text" id="event_time">
                     </div>
                  </div>
                  <div class="row">
                     <div class="columns">
                        <label for="event_location">Event Location</label>
                        <input ng-model="create_event.event_location" class="u-full-width" placeholder="Location" type="text" id="event_location">
                     </div>
                  </div>
                  <div class="row">
                     <div class="columns">
                        <label for="event_recording">Event Recording</label>
                        <input ng-model="create_event.event_recording" class="u-full-width" placeholder="https://..." type="text" id="event_recording">
                     </div>
                  </div>
                  <div class="row">
                     <i ng-show="isWorking" class="progress pull-left fa fa-circle-o-notch fa-spin fa-2x"></i>
                     <input class="button-primary pull-right" type="submit" value="Create Event">
                  </div>
               </form>
            </div>

            <!-- Event Display -->
            <div ng-repeat="event in events" ng-show="$parent.eid == {{event.event_id}}">

               <!-- Update Event -->
               <form ng-show="user_type >= 2" ng-submit="updateEvent(event)">
                  <div class="row">
                     <div class="six columns">
                        <label for="event_date">Event Date</label>
                        <input ng-model="event.event_date" class="u-full-width" placeholder="mm/dd/yyyy" type="text" id="event_date">
                     </div>
                     <div class="six columns">
                        <label for="event_time">Event Time</label>
                        <input ng-model="event.event_time" class="u-full-width" placeholder="hh:mm PM" type="text" id="event_time">
                     </div>
                  </div>
                  <div class="row">
                     <div class="columns">
                        <label for="event_location">Event Location</label>
                        <input ng-model="event.event_location" class="u-full-width" placeholder="Location" type="text" id="event_location">
                     </div>
                  </div>
                  <div class="row">
                     <div class="columns">
                        <label for="event_recording">Event Recording</label>
                        <input ng-model="event.event_recording" class="u-full-width" placeholder="https://..." type="text" id="event_recording">
                     </div>
                  </div>
                  <div class="row">
                     <i ng-show="isWorking" class="progress pull-left fa fa-circle-o-notch fa-spin fa-2x"></i>
                     <button ng-click="deleteEvent(event.event_id)" class="warning pull-right" type="button" style="margin-left:5px;">Delete Event</button>
                     <input class="button-primary pull-right" type="submit" value="Update Event">
                  </div>
                  <hr/>
               </form>

               <!-- Event Pieces -->
               <div>
                  <h5>Event Program</h5>
                  <table class="u-full-width">
                     <thead>
                        <tr>
                           <th>Piece</th>
                           <th>Composer</th>
                           <th>Performer</th>
                           <th>Length</th>
                           <th>Link</th>
                           <th>&nbsp;</th>
                        </tr>
                     </thead>
                     <tbody id="sortable-{{event.event_id}}" class="sortable">
                        <tr ng-repeat="piece in event.pieces" context-menu data-target="menu-{{piece.piece_id}}" pid="{{piece.piece_id}}">
                           <td>{{piece.piece_name}}</td>
                           <td>{{piece.piece_composer}}</td>
                           <td>{{piece.piece_performer}}</td>
                           <td>{{piece.piece_length}}</td>
                           <td><a href="{{piece.piece_information}}" target="_blank">View</a></td>
                           <td>
                              <span ng-show="piece.piece_approved == 0" ng-class="{clickable: user_type >= 2}" ng-click="approvePiece(piece.piece_id, true)"><i class="fa fa-square-o"></i></span>
                              <span ng-show="piece.piece_approved == 1" ng-class="{clickable: user_type >= 2}" ng-click="approvePiece(piece.piece_id, false)"><i class="fa fa-check-square-o"></i></span>
                              <div ng-show="piece.user_id == user_id || user_type >= 2" class="dropdown" style="position: fixed;" id="menu-{{piece.piece_id}}">
                                 <ul class="dropdown-menu" role="menu">
                                    <li>
                                       <a ng-click="updatePiece(piece)" class="pointer" role="menuitem" tabindex="1">
                                          Edit Piece
                                       </a>
                                    </li>
                                    <li>
                                       <a ng-click="deletePiece(piece.piece_id)" class="pointer" role="menuitem" tabindex="1">
                                          Delete Piece
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="row">
                     <i ng-show="isWorking" class="progress pull-left fa fa-circle-o-notch fa-spin fa-2x"></i>
                     <button ng-show="user_type >= 2" ng-click="saveOrder(event.event_id)" style="margin-left: 5px;" class="button-primary pull-right">Save Changes</button>
                     <button ng-show="user_type >= 1" ng-click="printEvent(event.event_id)" class="button-primary pull-right">Print</button>
                  </div>
                  <hr ng-show="user_type >= 2"/>
               </div>

               <!-- Piece Submission -->
               <div>
                  <h5>Piece Submission</h5>
                  <form ng-show="user_type >= 1" ng-submit="submitPiece(event.event_id)">
                     <div class="row">
                        <div class="three columns">
                           <label for="piece_name">Piece Name</label>
                           <input ng-model="$parent.submit_piece.piece_name" class="u-full-width" placeholder="Short Change Hero" type="text" id="piece_name">
                        </div>
                        <div class="three columns">
                           <label for="piece_composer">Composer</label>
                           <input ng-model="$parent.submit_piece.piece_composer" class="u-full-width" placeholder="The Heavy" type="text" id="piece_composer">
                        </div>
                        <div class="three columns">
                           <label for="piece_performer">Performer</label>
                           <input ng-model="$parent.submit_piece.piece_performer" class="u-full-width" placeholder="Choir" type="text" id="piece_performer">
                        </div>
                        <div class="three columns">
                           <label for="piece_performer">Length</label>
                           <input ng-model="$parent.submit_piece.piece_length" class="u-full-width" placeholder="3:00" type="text" id="piece_performer">
                        </div>
                     </div>
                     <div class="row">
                        <div class="columns">
                           <label for="piece_information">Video Link</label>
                           <input ng-model="$parent.submit_piece.piece_information" class="u-full-width" placeholder="https://www.youtube.com/watch?v=P1QUZzeZoPQ" type="text" id="piece_information"></input>
                        </div>
                     </div>
                     <div class="row">
                        <i ng-show="isWorking" class="progress pull-left fa fa-circle-o-notch fa-spin fa-2x"></i>
                        <input class="button-primary pull-right" type="submit" value="Submit">
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Members -->
   <div ng-controller="membersController" ng-show="tab == 2" class="container">
      <div class="row">
         <h2><i ng-show="isWorking" class="progress fa fa-circle-o-notch fa-spin"></i> Members</h2>
      </div>
      <div class="row">
         <div class="columns">
            <div ng-show="isError" style="border-radius:4px; background-color:salmon; padding: 10px; 10px; margin-bottom: 1rem;">
               <i class="fa fa-exclamation-triangle"></i> Something went wrong. Please try again later.
            </div>
         </div>
      </div>
      <div class="row">
         <div class="columns">
            <input ng-model="search" type="text" class="u-full-width" placeholder="search..."></input>
         </div>
      </div>
      <div class="row">
         <!-- Members Menu -->
         <div class="three columns">
            <h5>Applicants</h5>
            <button uid="{{user.user_id}}" ng-repeat="user in (filtered.applicants = (users | filter: {user_type: 0} | filter: search))" ng-click="displayUser(user)" class="u-full-width">{{user.user_name}}</button>
            <hr/>
            <h5>Members</h5>
            <button uid="{{user.user_id}}" ng-repeat="user in (filtered.members = (users | filter: {user_type: 1} | filter: search))" ng-click="displayUser(user)" class="u-full-width">{{user.user_name}}</button>
            <hr/>
            <h5>Admins</h5>
            <button uid="{{user.user_id}}" ng-repeat="user in (filtered.admins = (users | filter: {user_type: 2} | filter: search))" ng-click="displayUser(user)" class="u-full-width">{{user.user_name}}</button>
         </div>
         <!-- Member Display -->
         <div class="nine columns">
            <div ng-show="!user">
               <h3>Email Manager</h3>
               <p>Applicants are NOT included in the below lists.</p>
               <div>
                  <h5>Student Emails</h5>
                  <div>
                     <span ng-repeat="user in filtered.members" ng-show="user.student_email">{{user.student_email}}, </span>
                     <span ng-repeat="user in filtered.admins" ng-show="user.student_email">{{user.student_email}}, </span>
                  </div>
               </div>
               <br/>
               <div>
                  <h5>Parent Emails</h5>
                  <div>
                     <span ng-repeat="user in filtered.members" ng-show="user.parent_email">{{user.parent_email}}, </span>
                     <span ng-repeat="user in filtered.admins" ng-show="user.parent_email">{{user.parent_email}}, </span>
                  </div>
               </div>
            </div>
            <table ng-show="user" class="u-full-width">
               <tr>
                  <th>Student Name</th>
                  <td>{{user.student_name}}</td>
               </tr>
               <tr>
                  <th>Student Phone</th>
                  <td>{{user.student_phone}}</td>
               </tr>
               <tr>
                  <th>Student Email</th>
                  <td>{{user.student_email}}</td>
               </tr>
               <tr>
                  <th>Parent Name</th>
                  <td>{{user.parent_name}}</td>
               </tr>
               <tr>
                  <th>Parent Phone</th>
                  <td>{{user.parent_phone}}</td>
               </tr>
               <tr>
                  <th>Parent Email</th>
                  <td>{{user.parent_email}}</td>
               </tr>
               <tr>
                  <th>Home Phone</th>
                  <td>{{user.home_phone}}</td>
               </tr>
               <tr>
                  <th>Home Address</th>
                  <td>{{user.home_address}}</td>
               </tr>
               <tr>
                  <th>Current School</th>
                  <td>{{user.current_school}}</td>
               </tr>
               <tr>
                  <th>Instrument 1</th>
                  <td>
                     {{user.instrument_1}}<br/>
                     <small>{{user.instrument_1_about}}</small>
                  </td>
               </tr>
               <tr>
                  <th>Instrument 2</th>
                  <td>
                     {{user.instrument_2}}<br/>
                     <small>{{user.instrument_2_about}}</small>
                  </td>
               </tr>
               <tr>
                  <th>Instrument 3</th>
                  <td>
                     {{user.instrument_3}}<br/>
                     <small>{{user.instrument_3_about}}</small>
                  </td>
               </tr>
               <tr>
                  <th>Performance Experience</th>
                  <td>
                     {{user.performance_experience}}<br/>
                  </td>
               </tr>
               <tr>
                  <th>Student Biography</th>
                  <td>
                     {{user.additional_information}}<br/>
                  </td>
               </tr>
               <tr>
                  <th>Interests</th>
                  <td>
                     <li ng-show="user.ensemble_solo">Solo</li>
                     <li ng-show="user.ensemble_choir">Choir</li>
                     <li ng-show="user.ensemble_woodwind">Woodwind</li>
                     <li ng-show="user.ensemble_orchestra">Orchestra</li>
                  </td>
               </tr>
            </table>
            <div class="row">
               <i ng-show="isWorking" class="progress pull-left fa fa-circle-o-notch fa-spin fa-2x"></i>
               <button ng-show="user.user_type >= 0" ng-click="deleteUser(user.user_id)" class="warning button-primary pull-right">Delete User</button>
               <button ng-show="user.user_type == 0" style="margin-right:5px;" ng-click="admitUser(user.user_id, true)" class="button-primary pull-right">Admit Member</button>
               <button ng-show="user.user_type == 1" style="margin-right:5px;" ng-click="admitUser(user.user_id, false)" class="warning button-primary pull-right">Reject Member</button>
               <button ng-show="user.user_type == 1" style="margin-right:5px;" ng-click="adminUser(user.user_id, true)" class="button-primary pull-right">Make Admin</button>
               <button ng-show="user.user_type == 2" style="margin-right:5px;" ng-click="adminUser(user.user_id, false)" class="warning button-primary pull-right">Not Admin</button>
            </div>
         </div>
      </div>
   </div>
</body>
</html>
